*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    border: none;
    margin: 0;
}

body{
    background: $background-color;
    font-family: $main-font;
    min-height: 100vh;
    overflow-x: hidden;
}

li{
    list-style-type: none;
}

a{
    &:link{
        text-decoration: none;
    }
    &:visited{
        text-decoration: none;
    }
    // &:active{
    //     text-decoration: underline;
    // }
    &:hover{
        text-decoration: none;
    }
}