body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
      }
      
      code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
      }

      main{
	display: flex;
    }
.body-container {
	display: flex;
	flex-direction: row;
	gap: 12px;

    .profile{
	margin-left: 3em;
	margin-top: 4em;
	margin-bottom: 4em;
	&__hello{
	    font-weight: 500;
	    font-size: 48px;
	    line-height: 24px;
	    margin-bottom: 40px;
	    span{
		color: red;
	    }
	}
	&__congrats{
	    font-weight: 400;
	    font-size: 18px;
	    line-height: 24px;
	}
	&__data-container{
	    width: 100%;
	    margin-top: 50px;
	    display: flex;
	    justify-content: space-between;
  
	}
	&__data-charts{
	    width: 100%;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    gap: 2em;
	    justify-content: space-between;
	}
	&__charts{
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	&__nutritionCard{
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: space-between;
	}
	&__charts-miniGraph{
	    display: flex;
	    flex-direction: row;
	    gap:1em;
	}
	
    }
    
    .nutriCard{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-width: 250px;
	height: 125px;
	padding: 0 20px;
	border-radius: 5px;
	background-color: #FBFBFB;
	
	&__img-container{
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    padding: 20px;
	    border-radius: inherit;
	}
	&__img-Calories{
	    background-color: rgba(255, 0, 0, 0.1);
	}
	&__img-Proteines{
	    background-color: rgba(74, 184, 255, 0.1);
	}
	&__img-Glucides{
	    background-color: rgba(249, 206, 35, 0.1);
	}
	&__img-Lipides{
	    background-color: rgba(253, 81, 129, 0.1);
	}
	&__desc{
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
	    text-align: left;
	    margin: auto auto auto 35px;
	    gap: 5px;
	    overflow: hidden;
	    &-info{
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	    }
	    &-name{
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		color: rgba(116, 121, 140, 1);
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	    }
	}
    }
    .chart {
	width: 100%;
	background-color: #FBFBFB;
	border-radius: 5px;
	overflow: hidden;
      
	.barsChart__wrapper {
	  width: 100%;
	  height: 320px;
	  position: relative;
	  z-index: 1;
	  background-color: #fbfbfb;
	  margin-bottom: 25px;
      
	  .barsChart__titleWrapper {
	    display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    padding-left: 2em;
	    padding-right: 2em;
	    padding-top: 2em;
	    padding-bottom: 30px;
      
	    .barsChart__title {
	      font-size: 15px;
	      display: flex;
	      flex-direction: row;
	      gap: 20px;
	      color: black;
	      font-weight: bold;
	    }
	  }
      
	  .barsChart__legend {
	    font-size: 15px;
	    display: flex;
	    flex-direction: row;
	    gap: 50px;
	    color: black;
      
	    &-item {
	      position: relative;
	      font-weight: 500;
	      font-size: 14px;
	      line-height: 24px;
	      color: rgb(116, 121, 140);
      
	      &--grey-dot {
		&::before {
		  content: "";
		  position: absolute;
		  left: -20px;
		  bottom: 20%;
		  aspect-ratio: 1/1;
		  height: 10px;
		  background-color: #282D30;
		  border-radius: 50%;
		}
	      }
      
	      &--red-dot {
		&::before {
		  content: "";
		  position: absolute;
		  left: -20px;
		  bottom: 20%;
		  aspect-ratio: 1/1;
		  height: 10px;
		  background-color: red;
		  border-radius: 50%;
		}
	      }
	    }
	  }
	}
      }
      
    .barChart{
	grid-column-end: span 3;
	max-height: 400px;
    }
    
    .lineChart{
	height: 300px;
	width: 300px;
	min-width: 300px;
	background-color: red;
	border-radius: 5px;
    }
    
    .radarChart{
	height: 300px;
	width: 300px;
	background: #282D30;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
	border-radius: 5px;
    }
    
   .radialChart{
	height: 300px;
	width: 300px;
	background: #FBFBFB;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
	border-radius: 5px;
	
	.h3-score{
		font-size: 16px;
		font-weight: normal;
		position: absolute;
		padding-left: 2em;
		padding-top: 2em;
	}
    }

    
    .radar-chart {
	width: inherit;
	height: inherit;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    }
    
    .tooltip {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 90px;
	width: 60px;
	font-size: 10px;
	background-color: #E60000;
	color: #FFFFFF;
	font-weight: bold;
      }
    
    .error{
	margin: auto;
    }
    
    @media screen and (max-width: 1330px){
	.profile__data-charts{
	    display: flex;
	    flex-direction: column;
	}
	.profile__charts{
	    display: flex;
	    flex-direction: column;
	}
	.profile__nutritionCard{
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	}
	.nutriCard{
	    width: 40%;
	}
	.barChart{
	    width: 80%;
	}
    }
    
    @media screen and (max-width: 1200px) {
	.profile{
       
	    &__data-container {
	    width: 100%;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    }
	    &__charts {
	    width: 80%;
	    display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    }
	    &__charts-miniGraph{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	    }
	    &__nutritionCard {
		flex-wrap: wrap;
	    }
	}
    }
      
    @media screen and (max-width: 1024px) {
	.profile {
	    display: flex;
	    flex-direction: column;
    
	    &__data-charts{
		flex-direction: column;
	    }
	    &__charts {
	    width: 690px;
	    margin: 0;
	    }
	    &__nutritionCard {
		margin: auto;
		flex-wrap: wrap;
		width: 690px;
	    }
	}
    }
}